
.main{
    width:100%;
    position:relative;
    height:100%;
    border-width:1px;
    display:flex;
}
.hidden {
    display: none;
}


#placesTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#placesTable td, #placesTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#placesTable tr:nth-child(even){background-color: #c0e8ca;} /* 12cb89 */

#placesTable tr:hover {
    background-color: #317a96;
    color: white;
}
#placesTable tr:nth-child(even):hover {
    background-color: #29803e;
    color: white;
}
input{
    width: 100%;
}
/*HTL*/
.tableDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    height:600px;
    width:100%;
    border-radius:5px;
    background-color: #a4d4e7;
    margin-left:2%;
    margin-top:2%;
}
#sortedPlacesTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sortedPlacesTable td, #placesTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sortedPlacesTable tr:nth-child(even){background-color: #c0e8ca;} /* 12cb89 */

#sortedPlacesTable tr:hover {
    background-color: #317a96;
    color: white;
}
#sortedPlacesTable tr:nth-child(even):hover {
    background-color: #29803e;
    color: white;
}
.selected{
    color: aqua;
    font-size: 24px;
    text-shadow: #000000 5px 0 10px;
}



